/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://www.skeleton.dev/components/app-shell */
html,
body {
  @apply h-full overflow-hidden;
}

html {
  -webkit-font-smoothing: antialiased;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.05) !important;
}

/* https://www.skeleton.dev/docs/themes */
:root {
}
